#spana{
text-align:center;
}

#gaym{
margin:550px;
}
#porto{
margin:500px;
}
a{
color:red;
margin-left: 30%;
float:center;
text-decoration:none;
font-size: 100%;
}
h3{
text-align:center;
color:blue;
}
#live{
text-align:center;
}
#veb{
color:blue;
background-color:red;
text-align:center;
}
#divone{
border:3px blue dotted;
background-color:red
}
#diva{
bolder:3px blok solid;
}
#demo{
text-align:center;
color:red;
font-size:25px;
}
#lag{
margin:550px;
}
#nowruz{
margin:100px;
font-size:30px;
color:blue;
}
#fotbal{
	margin-left:500px;
}