#ik{
margin-left:200px;
white:450px;
height:400px;
border:5px  black solid;
}
#tor{
border:black 3px solid;
text-align:center;
color:red;
}
a{
color:blue;
margin:5px;
float:right;
text-decoration:none;
}
#nas{
white:450px;
height:400px;
border:5px  black solid;
}
img{
margin-left:200px;
white:450px;
height:400px;
border:black 5px solid;
}
p{
border:5px  black solid;
color:red;
text-align:center;
}
#ers{
white:450px;
height:400px;
border:5px  black solid;
margin-left:60px;
}
#lak{
white:450px;
height:400px;
border:5px  black solid;
}
#hamed{
white:450px;
height:400px;
border:5px  black solid;
margin-left:20px;
}
#udsd{
white:450px;
height:400px;
border:5px  black solid;
margin-left:60px;
}
#rasan{
margin-left:100px;
white:450px;
height:400px;
border:5px  black solid;
}
#m{
margin-left:200px;
white:450px;
height:400px;
border:5px  black solid;
}
